.menu {
  list-style: none;
  display: flex;
  justify-content: center;
}

.link {
  padding: 30px 15px;
  text-decoration: none;
  color: #000;
  font-size: 20px;
  font-weight: bold;
}
.link:global(.active) {
  color: lightcoral;
}
